<h1> Register to Get Started</h1>

<form action="/users" method="post">
    <label for="username">Username:</label>
    <br><br>
    <input type="text" name="username" value="">
    <br><br>
    <label for ="password">Password:</label>
    <br><br>    
    <input type="password" name="password" value="">
    <br><br>
    <select name="storeid">
        <% @stores.each do |store| %>
            <option value="<%= store.location_name %>"></option>
        <% end %>
    </select>
    <br><br>
    <input type="submit" value="Register">
    <br><br>
</form>