<h1> Register to Get Started</h1>

<form action="/users" method="post">
    <label for="name">Name:</label>
    <br><br>
    <input type="text" name="user[name]" value="">
    <br><br>
    <label for="username">Username:</label>
    <br><br>
    <input type="text" name="user[username]" value="">
    <br><br>
    <label for ="password">Password:</label>
    <br><br>    
    <input type="password" name="user[password]" value="">
    <br><br>
    <%= select(:user, :store_id, [['Edinger & 55', 1], ['Lewis & Las Posas', 2], ['Edinger & Grand', 3]]) %>
    <br><br>
    <input id="submit" type="submit" value="Register">
    <br><br>
</form>