<h1>Update Item</h1>
<form action="/items/<%= @item.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <br>
    <label>Name: </label><br>
    <br>
        <input type="text" name="item[name]" value="<%= @item.name %>"><br>
    <br>
    <label for="item_category">Category: </label>
    <br><br>
    <select name="item_category" id="item_category">
        <option value="">Select a Category</option>
        <option value="Milk">Milk</option>
        <option value="Syrup">Syrup</option>
        <option value="Bakery Product">Bakery Product</option>
        <option value="Sandwich">Sandwich</option>
        <option value="Coffee Beans">Coffee Beans</option>
        <option value="Bottled Drinks">Bottled Drinks</option>
    </select>
    <br><br>
    <label>Quantity: </label><br>
    <br>  
        <input type="text" name="item[quantity]" value="<%= @item.quantity %>"><br>
    <br>
    <input type="submit" value="Update Item">
</form>
<br>
<% if current_user.title == "admin" %>
    <form action="/items/<%= @item.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Item">
    </form>
<% end %>