<h1>Store Inventory</h1>
<br>

<table>
    <tr>
        <th align="left">Name</th>
        <td>&nbsp;</td>
        <th align="left">Category</th>
        <td>&nbsp;</td>
        <th align="left">Quantity</th>
    </tr>
        <% @items.each do |item| %>
        <% if item.store_id == current_user.store_id %>
        <tr>
        <td><%= item.name %></td>
        <td>&nbsp;</td>
        <td><%= item.category %></td>
        <td>&nbsp;</td>
        <td><%= item.quantity %></td>
        <td>&nbsp;</td>
        <td> <a href="/items/<%= item.id %>">View Item</a></td>
        </tr>
        <% end %>
        <% end %>

</table>


