<h1>Store Inventory</h1>
<br>
<table>
    <tr>
        <th align="left">Name</th>
        <td>&nbsp;</td>
        <th align="left">Category</th>
        <td>&nbsp;</td>
        <th align="left">Quantity</th>
    </tr>
        <% @items.each do |item| %>
        <tr>
        <td><%= item.name %></td>
        <td>&nbsp;</td>
        <td><%= item.category %></td>
        <td>&nbsp;</td>
        <td><%= item.quantity %></td>
        </tr>
    <% end %>
</table>