<h1>Add Item to Inventory</h1>
<br>
<form action="/items" method="post">

<br>
    <label for="name">Name: </label>
        <input type="text" name="name" id="item_name"><br>
        <br>
    <label for="category">Category: </label>
        <input type="text" name="category" id="item_category"><br>
        <br>
    <label for="quantity">Quantity: </label>
        <input type="text" name="quantity" id="item_quantity"><br>
        <br>
        <input id="submit" type="submit" value="Create New Item">
</form>