<h1>View Item</h1>
    <h3>Item Name: <%= @item.name %></h3>
    <h3>Item Category: <%= @item.category %></h3>
    <h3>Quantity in Stock: <%= @item.quantity %></h3>
<br>
<a href="/items/<%= @item.id %>/edit">Edit Item</a>