<div class="container">  
  <br><br>   
  <header></header>

  <div class="col-md-8 col-md-offset-2">

    <div class="content">

      <p>
      </p>
    </div>

    <div class="sidebar">
      <h1 align="center">Welcome to The Coffee Project!</h1>
      <br><br>
      <img src="/images/sinatra-coffee.jpg" alt="sinatra sipping coffee" class="img-responsive main-image">
      <br><br>
      <h3 align="center">Nice 'n' easy inventory management for The Cafe Sinatra</h3>
          <br>
        <p align="center">
        <a  href="users/new">Sign Up</a> <a href="/login">Log In</a>
      </p>
    </div>

  </div>
</div>
